<% provide(:title, 'base_index') %>

<h1>拠点一覧</h1>

<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>拠点番号</td>
      <td>拠点名</td>
      <td>勤怠種類</td>
    </tr>

    <% @base_points.each do |base_point| %>
      <tr>
        <td><%= link_to "拠点情報追加", new_base_point_path, class: "btn btn-primary" %></td>
        <td><%= link_to "修正", edit_base_point_path(base_point.id), class: "btn btn-primary" %></td>
        <td><%= link_to "削除", base_point, date: { turbo_method: :delete, turbo_confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %></td>
        <td><%= base_point.number %></td>
        <td><%= base_point.name %></td>
        <td><%= base_point.attendance_type %></td>
      </tr>
    <% end %>
  </table>
</div>