<% provide(:title, "attendance_log") %>

<h1 class="user-title">勤怠ログ</h1>

  <%= form_with(url: attendance_log_user_path(@user), local: true, method: :get) do |f| %>
    <div class="form-inline">
      <%= f.date_select :select_year,
        { end_year: Time.now.year, prompt: "年", discard_month: "true", discard_day: "true" },
        { id: "log-sch", class: "form-control form-sch" } %>
      <%= f.date_select :select_month,
        { use_month_numbers: true, prompt: "月", discard_year: "true", discard_day: "true" },
        { id: "log-sch", class: "form-control form-sch" } %>
      <%= f.submit "検索", id: "log-sch", class: "form-control form-sch" %>
    </div>
  <% end %>



<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <td>日付</td>
      <td>変更前出社時間</td>
      <td>変更前退社時間</td>
      <td>変更後出社</td>
      <td>変更後退社</td>
      <td>指示者</td>
      <td>承認日</td>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |day| %>
      <tr>
        <td><%= day.worked_on %></td>
        <td><%= l(day.b4_started_at, format: :time) if day.b4_started_at.present? %></td>
        <td><%= l(day.b4_finished_at, format: :time) if day.b4_finished_at.present? %></td>
        <td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
        <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
        <td><%= day.aprv_sup %></td>
        <td><%= day.aprv_day %></td>
      </tr>
    <% end %>
  </tbody>

</table>