<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>
<h1>ユーザー一覧</h1>
  <%= paginate @users, theme: 'twitter-bootstrap-4' %> <!--will pegenateからkaminariに変更-->
    <div class="col">
      <%= form_with url: import_users_path(format: :csv), local: true, multipart: true do |f| %> <!--multipart trueにしないと適切に送信できない-->
        <%= f.file_field :file, accept: '.csv', class: "btn btn-default" %> <!--csv形式ﾌｧｲﾙだけ選択できるように制限-->
        <%= f.submit "CSVをインポート", class: "btn btn-md btn-primary btn-custum-csv" %>
      <% end %>
    </div>

    <div class="col">
      <div class="col-md-12">
        <% @users.each do |user| %>
          <% unless current_user.admin? && current_user == user %> <!--!current_user?(user)は、現在のﾕｰｻﾞｰが表示されているﾍﾟｰｼﾞのﾕｰｻﾞｰ以外であること。!がないと管理者だけ削除ﾎﾞﾀﾝが表示されてしまう-->
            <tr>
              <td><p><%= user.name %></p></td>
                <td>
                  <%= link_to "削除", user, data: { turbo_method: :delete, turbo_confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
                </td>
                
                <p>
                  <button type="button" class="btn btn-primary" onclick="$('#demo_<%= user.id %>').collapse('toggle')">編集</button>
                </p>
                <div class="collapse" id="demo_<%= user.id %>">
                  <div class="card card-body">
                        
                    <%= form_with(model: user, url: user_path(user),  method: :patch, local: true) do |f| %>

                      <%= f.label :name, class: "label-#{yield(:class_text)}" %> <!--名前-->
                      <%= f.text_field :name, class: "form-control" %>
    
                      <%= f.label :email, class: "label-#{yield(:class_text)}" %> <!--ﾒｰﾙｱﾄﾞﾚｽ-->
                      <%= f.email_field :email, class: "form-control" %>
    
                      <%= f.label :affiliation, class: "label-#{yield(:class_text)}" %> <!--所属-->
                      <%= f.text_field :affiliation, class: "form-control" %>
    
                      <%= f.label :employee_number, class: "label-#{yield(:class_text)}" %> <!--社員番号-->
                      <%= f.text_field :employee_number, class: "form-control" %>
    
                      <%= f.label :uid, class: "label-#{yield(:class_text)}" %> <!--ｶｰﾄﾞID-->
                      <%= f.text_field :uid, class: "form-control" %>
         
                      <%= f.label :password, class: "label-#{yield(:class_text)}" %> <!--ﾊﾟｽﾜｰﾄﾞ-->
                      <%= f.password_field :password, class: "form-control" %>

                      <%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %> <!--ﾊﾟｽﾜｰﾄﾞ確認-->
                      <%= f.password_field :password_confirmation, class: "form-control" %>
    
                      <%= f.label :basic_work_time, class: "label-#{yield(:class_text)}" %> <!--基本勤務時間-->
                      <%= f.time_field :basic_work_time, class: "form-control" %>
     
                      <%= f.label :designated_work_start_time, class: "label-#{yield(:class_text)}" %> <!--指定勤務開始時間-->
                      <%= f.time_field :designated_work_start_time, class: "form-control" %>
    
                      <%= f.label :designated_work_end_time, class: "label-#{yield(:class_text)}" %> <!--指定勤務終了時間-->
                      <%= f.time_field :designated_work_end_time, class: "form-control" %> 
    
                      <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
                    <% end %>
                  </div>
                </div>
            </tr>
          <% end %>
        <% end %>
      </div>
    </div>

