<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

  <%= paginate @users, theme: 'twitter-bootstrap-4' %> <!--will pegenateからkaminariに変更-->

    <% @users.each do |user| %>
    <div><%= user.name %></div> <!--名前表示 勤怠画面に遷移-->
    <div> 
      <% if current_user.admin? && !current_user?(user) %> <!--!current_user?(user)は、現在のﾕｰｻﾞｰが表示されているﾍﾟｰｼﾞのﾕｰｻﾞｰ以外であること。!がないと管理者だけ削除ﾎﾞﾀﾝが表示されてしまう-->
        <%= link_to "削除", user, data: { turbo_method: :delete, turbo_confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
        <%= link_to "編集", '#', class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>
  <%= paginate @users, theme: 'twitter-bootstrap-4' %>