<% provide(:title, 'overtime_aprv') %>

<%= turbo_frame_tag 'modal' do %>
  <div class="modal-dialog modal-lg modal-dialog-center" data-controller="edit_overtime_aprv">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-action="edit_overtime-aprv#close" aria-label="Close">
          <!--<span aria-hidden="true">×</span>-->
           <%= link_to "×", '#', data: { controller: "modals", action: 'modals#click->close' } %>
        </button>
      </div>
      
      <!--上長ユーザーでの残業申請フォーム-->
      <div class="modal-body text-center">
        <%= form_with(model: @user, url: attendances_update_overtime_aprv_user_path, local: true, method: :patch) do |f| %>
          <% @users.each do |user| %>
            <h1 class="modal-title"><%= "【#{user.name}からの残業申請】" %></h1>
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-striped table-bordered table-condensed">
                    <thead>
                      <tr class="text-center">
                        <td>日付</td>
                        <td>曜日</td>
                        <td>終了予定時間</td>
                        <td>指定勤務終了時間</td>
                        <td>時間外時間</td>
                        <td>業務処理内容</td>
                        <td>指示者確認㊞</td>
                        <td>変更</td>
                        <td>勤怠を確認する</td>
                      </tr>
                    </thead>
                  
                    <tbody>
                      <% @attendances.where(user_id: user.id).each do |day| %>
                        <%= f.fields_for "attendances[]", day do |attendance| %>
                          <tr>
                            <td><%= l(day.worked_on, format: :short) %></td> <!--日付-->
                            <td><%= $days_of_the_week[day.worked_on.wday] %></td> <!--曜日-->
                            <td><%= l(attendance.object.ended_at, format: :time) %></td> <!--終了予定時間日-->
                            <td><%= format_basic_info(@user.designated_work_end_time) %></td> <!--指定勤務終了時間-->
                            <td>
                              <% formatted_ended_at = format_ended_at(attendance.object) %> <!--時間外時間-->
                              <%= calculate_overtime_hours(formatted_ended_at, @user.designated_work_end_time, day.approved) %>
                            </td>
                            <td><%= day.task_description %></td> <!--業務処理内容-->
                            <td><%= attendance.select :overwork_status, ['なし', '申請中', '承認', '否認'], {}, { class: 'form-control' } %></td> <!--指示者確認㊞-->
                            <td><%= attendance.check_box :overwork_chk %></td> <!--変更-->
                            <td><%= link_to "確認", user_path(user, date: day.worked_on.beginning_of_month), class: "btn btn-primary" %></td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>              
                </div>
              </div> 
            <% end %>
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-lg" %>
        <% end %>
        <%= link_to 'キャンセル', '#', data: { controller: "modals", action: 'modals#click->close' } %>
      </div>
    </div>
  </div>
<% end %>