<%= provide(:title, 'overtime-req') %>

<%= turbo_frame_tag 'modal' do %>
  <div class="modal-dialog modal-lg modal-dialog-center" data-controller="edit_overtime_req">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-action="edit_overtime-req#close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
    <!--一般ユーザーでの残業申請フォーム-->
      <h1 class="modal-title">【残業申請】</h1>
      <div class="modal-body">
        <%= form_with(model: @user, url: attendances_update_overtime_req_user_path(date: params[:date]), local: true, method: :patch) do |f| %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <table class="table table-striped table-bordered table-condensed">
              <thead>
                <tr class="text-center">
                  <td>日付</td>
                  <td>曜日</td>
                  <td colspan="6">終了予定時間</td> 
                  <td>翌日</td>
                  <td colspan="6">業務処理内容</td>
                  <td colspan="6">指示者確認㊞</td>
                </tr>
              </thead>
              
              <tbody>
                <%= f.fields_for "attendances[]", @attendance do |attendance| %>
                  <tr class="text-center">
                    <td><%= l(@attendance.worked_on, format: :short) %></td> <!--日付-->
                    <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td> <!--曜日-->
                    <td><%= attendance.time_select :ended_at, { include_blank: true }, id: 'time-select', class: "form-control" %></td> <!--終了予定時間日-->
                    <td colspan="6"><%= attendance.check_box :approved %></td> <!--翌日-->
                    <td colspan="6"><%= attendance.text_field :task_description, class: "form-control" %></td> <!--業務処理内容日-->
                    <td colspan="6"><%= attendance.collection_select(:confirmed_request, @superior, :name, :name, { include_blank: true }, { class: 'form-control' }) %></td> <!--指示者確認㊞-->
                  </tr>
                <% end %>
              </tbody>
            </table> 
              <%= f.submit "変更を送信する", class: "btn btn-primary btn-block modal-btn" %>
            <button type="button" class="btn btn-default btn-basic-info" data-action="edit_overtime_req#close">キャンセル</button>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>