<% provide(:title, @user.name) %>

<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
  <div class="col-md-10 col-md-offset-1">
    <h1 class="user-title">勤怠編集画面</h1>
      <table class="table table-bordered table-condensed table-striped" id="table-attendances">
        <thead>
          <tr class="text-center">
             <td>日付</td>
             <td>曜日</td>
             <td>出社</td>
             <td>退社</td>
             <td>翌日</td>
             <td>在社時間</td>
             <td>備考</td>
             <td>指示者確認㊞</td>
          </tr>
        </thead>

        <tbody>
          <% @attendances.each do |day| %>
            <%= f.fields_for "attendances[]", day do |attendance| %> <!--各ﾌｫｰﾑのinputﾀｸﾞのname属性にattendances[id][ｶﾗﾑ名]という形式で展開されるようになる-->
              <tr class="text-center">                                                  <!--dayは繰り返し処理されている@attendancesからなる1つのAttendanceｵﾌﾞｼﾞｪｸﾄを指す-->
                <td><%= l(day.worked_on, format: :short) %></td> <!--日付-->
                  <% class_for_day = case $days_of_the_week[day.worked_on.wday]
                    when '土'
                        'text-primary'
                    when '日'
                        'text-danger'
                    end
                  %>
                <td class="<%= class_for_day %>"> <!--上記で曜日指定し、代入したものをここで記述している。更に色指定をCSSで行う。-->
                  <%= $days_of_the_week[day.worked_on.wday] %>
                </td>
                <% if Date.current < day.worked_on %> <!--現在より未来は-->
                  <td><%= attendance.time_field :started_at, readonly: true, class: "form-control" %></td> <!--出社 読み取り専用-->
                  <td><%= attendance.time_field :finished_at, readonly: true, class: "form-control" %></td> <!--退社-->
                <% else %> <!--現在より未来以外は-->
                  <td><%= attendance.time_field :started_at, class: "form-control" %></td>
                  <td><%= attendance.time_field :finished_at, class: "form-control" %></td>
                <% end %>
                <td><%= attendance.check_box :chg_next_day %></td> <!--翌日-->
                <td> <!--在社時間 attendance_helper参照-->
                  <% if day.started_at.present? && day.finished_at.present? %> <!--出社も退社も存在する時-->
                    <% total_working_hours = (day.finished_at - day.started_at).to_f / 3600 %>
                    <%= format("%.2f", total_working_hours) %>
                  <% end %>
                </td>
                <td><%= attendance.text_field :note, class: "form-control" %></td> <!--備考-->
                <td> <!--指示者確認㊞-->
                  <% if Date.current < day.worked_on %>
                    <%= attendance.collection_select(:chg_confirmed, @superior, :name, :name, { include_blank: true }, disabled: true, class: 'form-control') %>
                  <% else %>
                    <%= attendance.collection_select(:chg_confirmed, @superior, :name, :name, { include_blank: true }, { class: 'form-control' }) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <div class="center">
      <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
      <%= f.submit "まとめて更新", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>