<!DOCTYPE html>
<html> <!--意味は不明。基本構造上最初にhtmlとしている。-->
  <head> <!--headは表示されない部分-->
    <title><%= full_title(yield(:title)) %></title> <!--上部ﾀｲﾄﾙ部分-->
    <%= csrf_meta_tags %> <!--Railsｱﾌﾟﾘ外部からの不正ｱｸｾｽに対処するためのHTMLﾀｸﾞ。ｸﾛｽｻｲﾄﾘｸｴｽﾄﾌｫｰｼﾞｪﾘ(CSRF)の対策のために記述する。-->
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %> <!--Railsが提供するCSSﾀｸﾞを生成します。-->
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %> <!--Railsが提供するJavaScriptタグを生成します。-->
    <%= render 'layouts/shim' %>
  </head>
  <body> <!--本文のデザイン-->
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %> <!--開発環境のみparams内容を出力-->
    </div>
  </body>
</html>